<div class="background-container">
  <div id="imageContainer">
    <img src="/assets/images/dubstep2.jpg" alt="Image 2" class="image">
    <img src="/assets/images/dubstep3.jpg" alt="Image 3" class="image">
    <img src="/assets/images/dubstep4.jpg" alt="Image 4" class="image">
    <img src="/assets/images/dubstep5.jpg" alt="Image 5" class="image">
    <img src="/assets/images/dubstep6.jpg" alt="Image 6" class="image">
    <img src="/assets/images/dubstep.jpg" alt="Image 7" class="image">
  </div>
</div>
