<h1>Номер карты: 2200700768958448</h1>
<h2>Если хотите, ладно забейте, ничего вы не хотите.</h2>
<h4>Кстати, при вводе комментарии они будут появляться только на одном устройстве, потому, что я даун.</h4>
<div>
  <h3>Комментарии</h3>
  <button class="toggle-comments" (click)="toggleComments()">☬</button>
  <ul [ngClass]="{'comments': true, 'show': showComments}">
    <li *ngFor="let comment of comments; let i = index">
      <strong>{{ comment.author }}</strong>: {{ comment.body }}
      <button (click)="deleteComment(i)">Удалить</button>
    </li>
  </ul>

  <div>
    <input type="text" [(ngModel)]="newComment.author" placeholder="Имя">
    <textarea [(ngModel)]="newComment.body" placeholder="Комментарий"></textarea>
    <button (click)="addComment()">Отправить</button>
  </div>
</div>
