<div class="avatar">
  <img src="/assets/images/S.jpg" alt="Avatar">
</div>
<h1>viCtoriCu</h1>
<h2></h2>

<style>
  .avatar {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
  }

    .avatar img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 50%;
    }

  h1 {
    text-align: center;
    font-size: 47px;
    margin-top: 19px;
  }

  h2 {
    text-align: center;
    font-size: 377px;
    margin-top: 20px;
  }
  }
</style>
